
<div class="container">
    <div class="row">
        <form  method="post" asp-action="RenderJson" asp-controller="Home">
        <textarea class="form-control" rows="10" cols="300"  name="json">

        </textarea>
        <button class="btn btn-primary mt-2"  style="float:right">Submit</button>
        </form>
    </div>

</div>